#root {
  max-width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
}

.app {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* min-height: 100vh; */
  height: 0 auto;
  /* background-color: #f5f5f5; */
}